/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';

.cal-month-view .cal-out-month .cal-day-event {
    opacity: 0.5;
}

.cal-day-cell.cal-today .cal-day-number {
    font-size: 1.2em !important;
    background-color: #b94a48;
    border-radius: 50%;
    color: #ffffff !important;
    width: 32px;
    height: 32px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}
