<div class="calendar-page">
    <div class="row text-center calendar-header">
        <div class="col">
            <div class="d-flex align-items-center">
                <div class="btn btn-next-prev ms-5" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" title="Previous">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="btn btn-next-prev" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" title="Next">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="col-md-2 calendar-title">
                    <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h3>
                </div>
                <div class="btn btn-primary btn-today" mwlCalendarToday [(viewDate)]="viewDate">Today</div>
                <div [ngClass]="['search mx-3', isShowSearchInput ? '' : 'hide-border']">
                    <input
                        type="text"
                        [ngClass]="[isShowSearchInput ? '' : 'hide-input']"
                        placeholder="Search event or date m/d/yyyy"
                        #searchInput
                        [matDatepicker]="picker"
                        (dateChange)="viewDate = $event.target.value"
                        (input)="search($event.target.value)" />
                    <mat-datepicker #picker></mat-datepicker>
                    <div *ngIf="isShowSearchInput">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <div *ngIf="eventFinder.length > 0" class="datalist">
                            <span *ngFor="let event of eventFinder" (click)="clickSearchResult(event)">{{ event.title }}</span>
                        </div>
                    </div>

                    <button type="submit" (click)="showSearch()" [ngClass]="['btn', isShowSearchInput ? 'btn-light' : 'btn-primary']">
                        <i [ngClass]="['fa-solid', isShowSearchInput ? 'fa-xmark' : 'fa-magnifying-glass']"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar-body">
        <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="openModal($event.day)"
            [cellTemplate]="customCellTemplate">
        </mwl-calendar-month-view>
    </div>
    <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
            <span *ngIf="day.badgeTotal > 3" class="cal-day-badge-more" [title]="'has ' + day.badgeTotal + ' events on this day'">
                {{ day.badgeTotal - 3 }} More
            </span>
            <div *ngIf="day.events.length > 0" class="cal-day-event-list">
                <span
                    class="cal-day-event"
                    *ngFor="let event of day.events | slice: 0:3"
                    [title]="event.title"
                    [ngStyle]="{
                        'background-color': event?.color?.secondary,
                        color: event?.color?.primary,
                        border: '1px solid ' + event?.color?.primary
                    }">
                    {{ event.start | date: 'HH:mm a' }} -
                    {{ event.title }}
                </span>
            </div>
            <span class="cal-day-number">{{ day.date | calendarDate: 'monthViewDayNumber':locale }}</span>
        </div>
        <div class="cell-totals">
            <span *ngFor="let group of day.eventGroups" class="badge badge-{{ group[0] }}">
                {{ group[1].length }}
            </span>
        </div>
    </ng-template>
</div>
<app-modal></app-modal>
